
<mat-list>
        <div  *ngFor="let news of newslist" >
            <mat-list-item  (click)="openNews(news)" *ngIf="news.story_title || news.title "  class="news-row" >
                <div class="news-title">{{ news.story_title || news.title  }}</div>
                <div class="author"> - {{news.author}} - </div>
                <div class="created_at">
                    <span class="date_text"> {{news.created_at}} </span>
                    <span class="trash_icon" (click)="deleteNews(news._id)" ><mat-icon  aria-hidden="false" aria-label="Example delete icon">delete</mat-icon></span> 
                </div>
            </mat-list-item>
            <mat-divider *ngIf="news.story_title || news.title "></mat-divider>
        </div>
</mat-list>
      