.news-row
  background-color: #fff
  border: 1px

.news-title
  color: #333
  padding-right:0.5em
  font-size: 13pt

.author
  color: #999

.created_at
  margin-left: auto
  margin-right: 0
  

.date_text
  color: #333
  padding-right: 3em

.trash_icon
  margin-left: auto
  margin-right: 0